@model WAD.ViewModels.History

@{
	ViewData["Title"] = "Profile";
}

<div class="center-div">
	<div class="infocard">
		<div class="infocard-container col-md">
			<img alt="profile picture" src="~/img/profile/img0.jpg" class="infocard-img" id="profilePicture">
		</div>
		<div class="infocard-body col-md-8">
			<p>Email: @Html.DisplayFor(userEmail => User.Identity.Name)</p>
			<p>Number of booked flights: @Model.Flights.Count()</p>
			<p>Number of booked accommodation: @Model.Hotels.Count()</p>
		</div>
	</div>
	<h4>Flights history</h4>
	<table summary="flight-history" class="table table-hover table-striped">
		<thead>
			<tr>
				<th scope="col">From</th>
				<th scope="col">To</th>
				<th scope="col">Price</th>
				<th scope="col">Booking date</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var flight in Model.Flights)
			{
				<tr>
					<td>@Html.DisplayFor(flightItem => flight.Item2.DepartureCity)</td>
					<td>@Html.DisplayFor(flightItem => flight.Item2.ArrivalCity)</td>
					<td>$@Html.DisplayFor(flightItem => flight.Item2.Price)</td>
					<td>@Convert.ToDateTime(flight.Item1.RegistrationDate).ToString("dd MMMM yyyy")</td>
				</tr>
			}

		</tbody>
	</table>
	<hr>
	<h4>Accommodations history</h4>
	<table summary="accommodations-history" class="table table-hover table-striped">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Location</th>
				<th scope="col">Price</th>
				<th scope="col">Booking date</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var hotel in Model.Hotels)
			{
				<tr>
					<td>@Html.DisplayFor(hotelItem => hotel.Item2.Name)</td>
					<td>@Html.DisplayFor(hotelItem => hotel.Item2.City)</td>
					<td>$@Html.DisplayFor(hotelItem => hotel.Item2.Price)</td>
					<td>@Convert.ToDateTime(hotel.Item1.RegistrationDate).ToString("dd MMMM yyyy")</td>
				</tr>
			}
			

		</tbody>
	</table>
</div>